@mixin animate($property:$property, $duration: .2s, $delay: 0) {
  transition-property: $property;
  transition-timing-function: linear;
  transition-duration: $duration;
  transition-delay: $delay;
}
