@mixin animate($property:$property, $duration: 0.2s, $delay: 0) {
  transition-property: $property;
  transition-timing-function: linear;
  transition-duration: $duration;
  transition-delay: $delay;
}
@mixin circle-object($diameter:$diameter) {
  width: $diameter;
  height: $diameter;
  line-height: $diameter;
  border-radius: 50%;
  overflow: hidden;
  padding: 0!important !important;
}
@mixin adjust-focus() {
  &:focus {
    @if $remove-focus-shadow {
      box-shadow: none!important;
    }
  }
}
@mixin adjust-hover() {
  &:hover {
    @if $remove-link-underline {
      text-decoration: none;
    }
  }
}
@mixin responive-image() {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: inherit;
}
@mixin round-sides($capsule-spacing:$capsule-spacing) {
  padding-left: $capsule-spacing;
  padding-right: $capsule-spacing;
  border-radius: $capsule-spacing;
}
