@mixin capsule($obj) {
  .#{$obj}-capsule {
    @include round-sides();
  }
}
@mixin circle($obj) {
  .#{$obj}-circle {
    @include circle-object();
  }
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage)
}
