// Spacing
$capsule-spacing:       1.5rem  !default;
$diameter:              38px    !default;

// Options
$remove-focus-shadow:   true    !default;
$remove-link-underline: true    !default;
$remove-border-radius:  true    !default;

// Colors
// Black Shades
$ui-color-black:        #101010 !default;
$ui-color-gray-9:       #272727 !default;
$ui-color-gray-8:       #3f3f3f !default;
$ui-color-gray-7:       #575757 !default;
$ui-color-gray-6:       #6f6f6f !default;
$ui-color-gray-5:       #878787 !default;
$ui-color-gray-4:       #9f9f9f !default;
$ui-color-gray-3:       #b7b7b7 !default;
$ui-color-gray-2:       #cfcfcf !default;
$ui-color-gray-1:       #e7e7e7 !default;
