// Spacing
$capsule-spacing:       1.5rem  !default;
$diameter:              38px    !default;

// Options
$remove-focus-shadow:   true    !default;
$remove-link-underline: true    !default;
$remove-border-radius:  true    !default;
