{{#if (has-block)}}
  {{yield}}
{{else}}
  {{#if (and title icon)}}
    <span>{{fa-icon icon size=iconSize}}</span>
    <span>{{title}}</span>
  {{else if icon}}
    <span>{{fa-icon icon size=iconSize}}</span>
  {{else}}
    <span>{{title}}</span>
  {{/if}}
{{/if}}
