{{#if label}}
  {{ui-label
    label=label
  }}
{{/if}}

{{component getFormControl
  placeholder=placeholder
  type=type
  value=value
}}
{{!--
{{#if (eq placeholder "Password")}}
  {{ui-button
    icon="eye"
    click=(action "togglePasswordVisibility")
    PreverntDefault=false
  }}
    IsPassword

{{/if}} --}}

{{yield}}
