{{#if (has-block)}}
  <span>{{yield icon title}}</span>
{{else}}
  {{#if (and title icon)}}
    <span>{{fa-icon icon}}</span>
    <span>{{title}}</span>
  {{else if icon}}
    <span>{{fa-icon icon}}</span>
  {{else}}
    <span>{{title}}</span>
  {{/if}}
{{/if}}
