{{#if (has-block)}}
  {{yield}}
{{else}}
  {{#each navItems as |item|}}
    {{!-- TODO Replace conditional navItem param with inline invokation --}}
    {{#if item.param}}
      {{ui-link
        item.title
        item.url
        item.param
        title=item.title
        icon=item.icon
        shape=shape
        color=color
      }}
    {{else}}
      {{ui-link
        item.title
        item.url
        title=item.title
        icon=item.icon
        shape=shape
        color=color
      }}
    {{/if}}
  {{/each}}
{{/if}}
