{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section "Introduction"}}
    {{nav.item "Intro" "docs.index"}}
    {{nav.item "Usage" "docs.usage"}}

    {{nav.section "Layout"}}
    {{nav.section "Components"}}
    {{nav.item "{{ui-button}}" "docs.components.ui-button"}}
    {{nav.item "{{ui-form}}" "docs.components.ui-form"}}
    {{nav.item "{{ui-heading}}" "docs.components.ui-heading"}}
    {{nav.item "{{ui-link}}" "docs.components.ui-link"}}
    {{nav.item "{{ui-message}}" "docs.components.ui-message"}}
    {{nav.item "{{ui-nav}}" "docs.components.ui-nav"}}

  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
