{{docs-hero
  prefix="Ember"
  slimHeading="My"
  strongHeading="Addon"
  byline="My addon demo/marketing page."
}}

{{#docs-demo as |demo|}}
  {{#demo.example name="my-demo.hbs"}}
    <h3>Installation</h3>

  {{/demo.example}}
{{/docs-demo}}
